# backend
backend/node_modules/
backend/.env
backend/*.log

# frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/*.log

# bot
bot/.venv/
bot/.env
bot/__pycache__/
bot/*.log

# chung
node_modules/
.env
dist/
build/
docs/
*.log
.DS_Store
Thumbs.db
