# backend
backend/node_modules/
backend/.env
backend/server-error.log
backend/server.log
backend/dev-stdout.log

# frontend
frontend/node_modules/
frontend/.env
frontend/dev-stderr.log
frontend/dev-stdout.log
# chung
node_modules/
.gitignore
.env
dist/
build/
docs/