# backend
backend/node_modules/
backend/.env

# frontend
frontend/node_modules/
frontend/.env

# chung
node_modules/
.gitignore
.env
dist/
build/
docs/
server-error.log
dev-stdout.log
dev-stderr.log
dev-stdout.log